@import './../base/style.css';

.photograph-header {
    background-color: #FAFAFA;
    margin: 0 96px;

    .banner{
        padding: 32px 80px;
        background-color: #FAFAFA;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .card{
            &__title{
                color: #D3573C;
                font-size: 32px;
                font-weight: 400;
            }

            &__location{
                color: #901C1C;
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 16px;
            }

            &__tagline{
                font-size: 14px;
            }
        }

        .photographer__img{
            height: 200px;
            width: 200px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .skeleton-banner{
        padding: 32px 80px;
        background-color: #cccbcb;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 200px;
        animation: pulse 1s infinite alternate;
    }
}

.contact_button {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

#contact_modal{
    display: none;

    .modal {
        border-radius: 5px;
        background-color: #DB8876;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 35px;
        margin: auto;

        header {
            justify-content: space-between;
            width: 100%;

            img {
                cursor: pointer;
            }

            h2 {
                font-size: 64px;
                font-weight: normal;
                text-align: center;
            }
        }
    }
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;

    label {
        color: #312E2E;
        font-size: 36px;
    }

    div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: self-start;
        margin-bottom: 26px;
    }

    input {
        width: 100%;
        height: 68px;
        border: none;
        border-radius: 5px;
    }
}

.photograph-media{
    margin: 64px 96px;

    .sort{
        margin-bottom: 64px;

        label{
            font-weight: bold;
        }

        #sort {
            margin-left: 8px;
            outline: none;
            appearance: none;
            background-color: #901C1C;
            padding: 12px 16px;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            font-size: 16px;
            cursor: pointer;
        }
    }

    .media {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 64px;

        .media-card {
            position: relative;
            cursor: pointer;
            aspect-ratio: 1;

            &__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                aspect-ratio: 1;
                border-radius: 5px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            }

            &__content{
                margin-top: 4px;
                display: flex;
                justify-content: space-between;
                color: #901C1C;
            }

            &__title{
                font-size: 18px;
            }

            &__like{
                position: relative;
                font-weight: 800;
                display: flex;
                gap: 4px;

                &::after{
                    content: '';
                    background-image: url('./../../assets/icons/heart.svg');
                    width: 20px;
                    height: 20px;
                    margin-top: -1px;
                }
            }

            &:hover {
                transform: scale(1.02);
                transition: transform 0.3s ease;
            }
        }

        .skeleton-card {
            width: 100%;
            height: 100%;
            aspect-ratio: 1;
            padding-top: 100%;
            background-color: #cccbcb;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            animation: pulse 1s infinite alternate;
        }
    }
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}